
.author {
  margin-top: 1rem;
  color: #0cb6ec;
  font-family: 'Retro', Inconsolata, monospace;
  text-shadow: 0 0 40px #0cb6ec;
  font-size: 2rem;
}

.author > a {
  color: #0cb6ec;
  text-decoration: none;
}

.author > a:hover {
  color: #eee;
}


@media screen and (max-width: 992px) {
.author {
  text-shadow: 0 0 15px #0cb6ec;
}
}

@media screen and (max-width: 600px) {
.author {
  font-size: 1.5rem;
  text-shadow: 0 0 15px #0cb6ec;
}
}